html,
body {
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #35454c;
  color: #e1a8a8;
  font-size: 1.5rem;
  font-family: monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-height: 800px;
  width: 100%;
  max-width: 1024px;
  padding: 10px;
  margin: 0 auto;
}

span {
  font-variant-numeric: tabular;
  font-weight: bold;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  width: calc(100% - 45px);

  border: none;
  border-bottom: 1px solid yellowgreen;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

#inputN {
  width: calc(100% - 160px);
}

a {
  color: #e1a8a8;
  margin: 0 auto;
}

.coef {
  width: 30px;
  text-align: center;
}

button {
  font-size: 1.5rem;
  padding: 10px 50px;
  background-color: darkslategray;
  border: white solid;
  color: yellowgreen;
  transition: all 0.3s;
  cursor: pointer;
  width: 50%;
  box-shadow: 1px 1px 6px 0px black;
  margin: 0 auto;
}

button:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 0px 0px black;
}

button:active:not(button:disabled) {
  transform: translateY(1px);
  box-shadow: 0px 0px 0px 0px black;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#error {
  display: none;
  color: red;
}

@media all and (max-width: 640px) {
  body,
  button,
  input {
    font-size: 1.1rem;
  }

  #inputN {
    font-size: 1rem;
  }
  
  .coef {
  width: 40px;
  }

  button {
    width: 100%;
  }
}
