*{
    margin:0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(38, 1fr);
    user-select:none;
    color: white;
}

.box,.ball{
    font-size: 0.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    border: solid 1px aquamarine;
}

.ball{
    /* border-radius: 50%; */
    background-color: red;

}

#compteur{
    color: red;
    width: 30px;
    font-weight: bold;
    background-color: orange;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options{
    display: flex;
}

button{
    width: 100%;
}


