* {
  margin: 0;
  padding: 0;
}

html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    flex:1;
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  grid-template-rows: repeat(38, 1fr);
  user-select: none;
  color: white;
}

.box,
.ball {
  font-size: 0.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  border: solid 1px aquamarine;
}

.ball {
  /* border-radius: 50%; */
  background-color: red;
}

.prime {
  background-color: blue;
}

.compteur {
  color: red;
  background-color: orange;
  border-radius: 5px;
  padding: 5px 20px;
}

.options {
  padding: 2px;
  display: flex;
  justify-content: space-around;
  background-color: cadetblue;
}


.container-input {
    border-radius: 5px;
    background-color: #8897ed;
    padding: 5px;
}

#reset {
  width: 100px;
}

#moins,#plus{
    width: 20px;
}
input {
  border: none;
  width: 50px;
  color: blue;
  outline: none;
  text-align: center;
}
