.container{
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(27, 1fr);
    user-select:none;
    color: white;
}


.box{
    height: 3.2vh;
    border: solid 1px aquamarine;
    /* border-radius: 50%; */
    transition: all 0.2s;
    text-align: center;
    cursor: pointer;
}


.ball{
    /* border-radius: 50%; */
    border: solid 1px aquamarine;
    background-color: red;
    height: 3.2vh;
    transition: all 0.25s;
    text-align: center;
    cursor: pointer;
}

#compteur{
    color: red;
    width: 30px;
    font-weight: bold;
    background-color: orange;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options{
    display: flex;
}

button{
    width: 100%;
}


